input {
    keyboard {
        xkb { 
            layout "us,ru"
            options "grp:caps_toggle,caps:none"
        }
        repeat-delay 600
        repeat-rate 25
        track-layout "window"
        numlock
    }
    touchpad {
        tap
        natural-scroll
        accel-speed 0.2
        accel-profile "flat"
        scroll-factor 1.0
        scroll-method "two-finger"
        scroll-button 273
        scroll-button-lock
        click-method "clickfinger"
    }
    mouse {
        accel-speed 0
        accel-profile "flat"
        scroll-factor 1.0
        scroll-method "no-scroll"
        scroll-button 273
    }
    disable-power-key-handling
    workspace-auto-back-and-forth
    focus-follows-mouse max-scroll-amount="0%"
    mod-key "Super"
}
